<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid menu">
    <div class="container">
      <p class="custfonts1">Menu</p>
    </div>
  </div>
  <!-- Akhir Jumbotron -->

  <h4 class="petunjuk-menu">Pilih kategori untuk melihat menu</h4>

  <!-- Menu -->
  <div class="accordion" id="accordionExample">
    <div class="mcontainer hmenu">
      <button type="button" data-toggle="collapse" href="#mak" role="button" aria-expanded="false"
        aria-controls="makanan" class="shadow-none btn btn-lg">Makanan</button>
      <button type="button" data-toggle="collapse" href="#min" role="button" aria-expanded="false"
        aria-controls="minuman" class="shadow-none btn btn-lg">Minuman</button>
      <button type="button" data-toggle="collapse" href="#pen" role="button" aria-expanded="false"
        aria-controls="penutup" class="shadow-none btn btn-lg">Dessert</button>
    </div>

    <div class="makanan collapse" id="mak" data-parent="#accordionExample">
      <div class="row foutput"></div>
    </div>
    <div class="minuman collapse" id="min" data-parent="#accordionExample">
      <div class="row doutput"></div>
    </div>
    <div class="penutup collapse" id="pen" data-parent="#accordionExample">
      <div class="row poutput"></div>
    </div>
      </div>
    </div>

    <!-- Akhir Menu -->