<div class="container">
    <h2 class="judul-login">Login</h2>
    <div class="card card-login">
        <div class="card-body">
            <form action="/auth/login" method="post">
                <div class="form-group form-group-login">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                </div>
                <div class="form-group form-group-login">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <% if(locals.error){ %> 
                  <!-- <span class="text-danger pl-2"><%= error %></span> -->
                  <div class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
                <% } %>
                <button type="submit" class="btn btn-danger btn-lg btn-block" id="cekLogin" value="Login">Login</button>

                <h4 class="pembatas-form-login"><span>ATAU</span></h4>

                <p class="link-registrasi">Belum punya akun? <a href="registrasi">Daftar sekarang</a></p>
            </form>
        </div>
    </div>
  </div>
