<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid jumbotron-lokasi">
    <div class="container">
      <p class="custfonts1">Lokasi</p>
    </div>
  </div>
  <!--end of jumbotron-->

   <!-- Tulisan Lokasi-->
  <div class="container">
    <div class="row locationscroll">
      <div class="col">
        <h3 class="animated animatedFadeInUp fadeInUp reveal2" style="text-align: center">
          Visit Our Cafe!
        </h3>
        <p class="animated animatedFadeInUp fadeInUp reveal2">
         Anda dapat menemui cafe kami di wilayah Jakarta. Cafe kami mempunyai suasana suasana yang unik dan nyaman.
        </p>
        <!--<button type="button" class="btn btn-danger animated animatedFadeInUp fadeInUp" id="clickbtn"
          href="#maps"aria-pressed="false"><i class="fas fa-arrow-down"></i>
          Scroll Down
        </button>-->
        <a class="btn btn-danger" href="#maps">
        <i class="fas fa-arrow-down"></i> Scroll Down</a>
        <br>
      </div>
      <div class="col">
        <img src="img/cafeatmosphere.jpeg" alt="" class="img-fluid img-thumbnail" />
      </div>
    </div>
  </div>
  <br><br><br>
  <!-- Layout fitur -->
  <div class="container-bg container-fasilitas">
    <div class="container">
      <h2 style="text-align: center; color: grey;">Fasilitas</h2>
      <br>
      <div class="container">
        <div class="row text-center align-items-center justify-content-center">
          <div class="col-sm-2">
            <figure>
              <img src="img/wifi.png" alt="">
              <figcaption>Wifi</figcaption>
            </figure>
          </div>
          <div class="col-sm-2">
            <figure>
              <img src="img/outlet.png" alt="">
              <figcaption>Charger</figcaption>
            </figure>
          </div>
          <div class="col-sm-2">
            <figure>
              <img src="img/air-conditioner.png" alt="">
              <figcaption>A/C</figcaption>
            </figure>
          </div>
          <div class="col-sm-2">
            <figure>
              <img src="img/band.png" alt="">
              <figcaption>Music / Live Music</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <!--embed maps-->
  <section id="maps"></section>
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-3 auto mx-auto">
          <i class="fa fa-map-marker" style='font-size:24px;color:red'></i>
          <div class="text align-middle">
          <h3>Location Maps</h3>
          </div>
      </div>
    <br>
    <div class="embed-responsive embed-responsive-21by9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.711301232351!2d106.78691281436005!3d-6.169398962175911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f65c8572640d%3A0xc0a066d78372614e!2sTarumanagara%20University%20Campus%201!5e0!3m2!1sen!2sid!4v1601713867833!5m2!1sen!2sid" width="600" height="450" 
      frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    
    </div>
     <!-- Grid row -->
    <div class="row mt-3">
    <!-- Grid column -->
     <div class="col-md-4 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">

      <!-- Links -->
      <!-- broken code, aligntment tidak bisa di center-kan<h6 class="justify-content-center">Detail</h6>
      <hr class="mb-4 mt-0 d-inline-block" style="margin: auto;">-->
      <p>
        <i class="fa fa-location-arrow style='font-size:24px'"></i> Jl. Letjen S. Parman No.1, RT.6/RW.16, Tomang, Jakarta Barat, 11440</p>
      <p style="font-weight: 900;">
        <i class="fa fa-clock style='font-size:24px'"></i> Opens at 08:30 AM - 22:00 WIB</p>
    </div>
    </div>
    <!-- Grid column -->
  </div>
  <!--end-->
