  
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid jumbotron-galeri">
    <div class="container">
      <p class="custfonts1">Galeri</p>
    </div>
  </div>
<!-- akhir Jumbotron -->

<!--cafe gallery-->
<div class="container gallery-container">
  <h1>Galeri Foto</h1>

  <p class="page-description text-center">Ini adalah galeri kafe kami</p>
  
    <div class="tz-gallery">

        <div class="row galleryCafe">

        </div>         
    </div>
</div>
