 <!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container"></div>
  </div>
  <!-- akhir Jumbotron -->
  
  <!-- promo -->
  <div class="container-bg container-promo">
    <div class="container">
      <div class="container">
        <div class="row text-center align-items-center justify-content-center">
          <div class="col-sm-6">
            <div class="card mb-4 ml-4" style="max-width: 540px;">
              <div class="row no-gutters" >
                <div class="col-md-4">
                  <img src="img/promo.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Beli 1 Gratis 1</h5>
                    <p class="card-text">Dapatkan gratis 1 gelas <i>Hot Cocoa with Marshmallow</i> untuk setiap pembelian minuman ukuran Large</p>
                    <p class="card-text"><small class="text-muted">1 Oktober 2020 - 1 November 2020</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mb-4 ml-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="img/promo.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Diskon 50%</h5>
                    <p class="card-text">Dapatkan diskon 50% untuk semua minuman ukuran Reguler dengan pembelian minimal Rp 50.000</p>
                    <p class="card-text"><small class="text-muted">23 Oktober 2020 - 17 November 2020</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- akhir promo -->
  
  <!-- Sejarah -->
  <div class="row sejarah">
    <div class="col textSejarah reveal2">
      <p class="text-justify">
        Coffeeteria dibentuk sejak Oktober 2020 , ide pembuatan web cafe
        dengan sistem reservasi ini datang dari berbagai inspirasi yang ada,
        semua ini dimulai dari pengambilan mata kuliah web programming
      </p>
    </div>
    <div class="col gambarSejarah reveal1">
      <img src="img/previewcafe.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <!-- Akhir bagian sejarah -->
  
  <!-- Menu -->
  <div class="container listMenu reveal1">
    <h1 class="heading">MENU</h1>
    <div class="row daftarMenu">
      <!-- Menu 1 -->
      <div class="col cardMenu reveal2">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="img/menu/Black Coffee.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Black Coffee</h5>
          </div>
        </div>
      </div>
      <!-- Akhir Menu 1 -->
      <!-- Menu 2 -->
      <div class="col cardMenu reveal2">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="img/menu/Brown Cupcake.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Brown Cupcake</h5>
          </div>
        </div>
      </div>
      <!-- Akhir Menu 2 -->
      <!-- Menu 3 -->
      <div class="col cardMenu reveal2">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="img/menu/Iced Lemonade.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Iced Lemonade</h5>
          </div>
        </div>
      </div>
      <!-- Akhir Menu 3 -->
    </div>
    <div class="row fullMenu">
      <button class="btn-danger" id="menubtn">ALL MENU</button>
    </div>
  </div>
  <!-- Akhir bagian Menu -->
  
  <!-- Reservasi -->
  <div class="row reservasi">
    <div class="col gambarReservasi reveal1">
      <img src="img/previewcafe.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col textReservasi reveal2">
      <p class="text-justify">
        Kenyamanan pelanggan adalah prioritas kami. Karena itu kami menawarkan kemudahan dalam melakukan reservasi sebelum berkunjung ke cafe kami.
        Tidak ada lagi waktu yang terbuang untuk menunggu mendapatkan tempat saat berkunjung.
      </p>
      <button class="btn-danger btnReservasi" id="bookingbtn">
        RESERVASI
      </button>
    </div>
  </div>
  <!-- Akhir bagian Reservasi -->
  
  <!-- Lokasi -->
  <div class="row lokasi">
    <div class="col textLokasi reveal2">
      <p class="text-justify">
        Coffeeteria dibentuk sejak Oktober 2020 , ide pembuatan web cafe
        dengan sistem reservasi ini datang dari berbagai inspirasi yang ada,
        semua ini dimulai dari pengambilan mata kuliah web programming
      </p>
      <button class="btn-danger btnLokasi" id="locationbtn">LOKASI</button>
    </div>
    <div class="col gambarlokasi reveal1">
      <img src="img/lokasiCafe.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <!-- Akhir Lokasi -->
  
  <!-- Gallery -->
  <div class="row galeri">
    <div class="col gambarGaleri reveal1">
      <img src="img/cafeinterior1.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col textGaleri reveal2">
      <p class="text-justify">
        kami juga menyediakan page galeri yang berisikan foto foto dan gambar yang kami abadikan
      </p>
      <button class="btn-danger btnGaleri" id="galeribtn">
        GALLERY
      </button>
    </div>
  </div>
  <!-- Akhir bagian Reservasi -->
  
  <!-- Kontak -->
  <div class="row kontak">
    <div class="col textKontak reveal2">
      <p class="text-justify">
        Coffeeteria juga menyediakan halaman Kontak jika customer memilki pertanyaan, kritik, dan saran
      </p>
      <button class="btn-danger btnKontak" id="kontakbtn">KONTAK</button>
    </div>
    <div class="col gambarKontak reveal1">
      <img src="img/cafeatmosphere.jpeg" alt="" class="img-fluid" />
    </div>
  </div>
  <!-- Akhir Kontak -->
  
  <!-- Contact -->
  <div class="container-fluid contact">
    <h1 class="logo"><em>Coffeeteria</em></h1>
    <h2 class="find-us"><a href="https://www.instagram.com/" target="_blank">FIND US ON INSTAGRAM</a></h2>
  </div>
  