* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumboimg.jpg);
  background-size: cover;
  height: 700px;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.jumbotron .container {
  color: white;
  z-index: 1;
  position: relative;
}

.sejarah,
.reservasi,
.lokasi {
  display: flex;
  width: 80%;
  margin: 10% auto;
  align-items: baseline;
  flex-wrap: wrap;
}

.heading {
  display: block;
  margin-top: 10%;
  padding-bottom: 50px;
}

.daftarMenu {
  display: flex;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.fullMenu {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.fullMenu button {
  width: 150px;
  border-radius: 5px;
}

.btnReservasi,
.btnLokasi {
  width: 150px;
  border-radius: 5px;
}

.promoCard {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
}

.promoCard img {
  object-fit: cover;
}

.row {
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}

.logo {
  font-family: "red rose";
  text-align: center;
  color: red;
  display: block;
}

@media screen and (max-width:576px) {
  .jumbotron {
    background-position-x: 50%;
  }

  .sejarah .textSejarah {
    order: 2;
  }

  .sejarah .gambarSejarah {
    order: 1;
  }

}